*.go linguist-language=Go
*.1 linguist-documentation
*.md linguist-documentation
ch08/dataset/1.5M linguist-detectable=false
ch08/dataset/2.5M linguist-detectable=false
ch08/dataset/4.0M linguist-detectable=false
